<!DOCTYPE html>
<html>
  <head>
    <title>WordwolfForl2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>ワードウルフ for L</h1>
  <p><%= link_to("はじめる", "/../setting/people")%></p>
  <p><%= link_to("遊び方", "/about")%></p>
  <p><%= link_to("プライバシーポリシー", "/privacypolicy")%></p>

    <%= yield %>
  </body>
</html>
